body {
    margin: 10px;
    text-align: center;
}

h1 {
    background-image: linear-gradient(lightblue, lightblue);
    background-size: 100% 7px;
    background-repeat: no-repeat;
    font-size: 1.3rem;
}

.btn-outline-primary:disabled {
    border-width: 1px;
    color: cornflowerblue;
    background-color: ghostwhite
}

#main-container {
    display: none;
}

#answers-container {
    padding: 10px;
}

#answers-container button {
    width: 120px;
    margin: 5px 5px;
}

#flag-image {
    width: 200px;
    padding: 4px;
    border: 1px solid gray;
}

#message-img {
    width: 30px;
    vertical-align: middle;
}
